<div class="content-heading">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-lg-push-3 col-sm-10 col-sm-push-1">
				<h1 class="heading">HRAPP</h1>
			</div>
		</div>
	</div>
</div>
<div class="content-inner">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-lg-push-3 col-sm-10 col-sm-push-1">
				<p>Material is an HTML5 UI design based on Google Material.</p>
				<blockquote>
					<p>A visual language for our users that synthesizes the classic principles of good design with the innovation and possibility of technology and science. This is material design.</p>
					<p><a class="text-break" href="http://www.google.com/design/spec/material-design/introduction.html">http://www.google.com/design/spec/material-design/introduction.html</a></p>
				</blockquote>
			</div>
		</div>
	</div>
</div>