<div class="content">
	<div class="content-inner" style="margin-top: 100px;">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-heading">
						<a class="modal-close" data-dismiss="modal">&times;</a>
						<h2 class="modal-title">Appreciations</h2>
				</div>
				<div class="modal-inner">
					<div class="form-group form-group-label">
						<div class="row">
							<div class="col-md-12">
								<label class="floating-label" for="float-textarea">Type your Appreciation note here</label>
								<textarea class="form-control" id="float-textarea" rows="5"></textarea>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<p class="text-right">
						<button class="btn btn-blue btn-flat btn-alt" data-dismiss="modal" type="button">Close</button>
						<button class="btn btn-blue btn-flat btn-alt" data-dismiss="modal" type="button">OK</button>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>